
    .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn{
    background-color: var(--green-main);
    border-color: var(--green-main);
}

.login-form{
    border: 1px solid grey;
    padding: 30px;
    width: 30%;
}
