

:root{
    --green-main: #0ab76f;
}

    .form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-form{
    border: 1px solid grey;
    padding: 30px;
    width: 400px;
    opacity: 1;
}

.btn{
    background-color: var(--green-main);
    border-color: var(--green-main);
    width: 100%;
} 
